.App {
  text-align: center;
  min-height: 100vh;
  color: white;
  background-color: gainsboro;
  display: flex;
  scroll-behavior: smooth;
}
.contentdiv{
  margin-left: 7%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .header {
  
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 730px) {
  .App {
    flex-direction: column;
  }
  .contentdiv{
    margin-left: 0;
  }
}
